version: '0.1'
name: ubuntu_provisioning
global_timeout: 6000
tasks:
- name: "os-installation"
  worker: "{{index .Targets "machine1" "mac_addr"}}"
  actions:
  - name: "disk-wipe"
    image: disk-wipe:v2
    timeout: 90
    volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      - /lib/firmware:/lib/firmware:ro
  - name: "disk-partition"
    image: disk-partition:v2
    timeout: 600
    volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      - /lib/firmware:/lib/firmware:ro
      - /statedir:/statedir
  - name: "install-root-fs"
    image: install-root-fs:v2
    timeout: 600
    volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      - /lib/firmware:/lib/firmware:ro
  - name: "install-grub"
    image: install-grub:v2
    timeout: 600
    volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      - /lib/firmware:/lib/firmware:ro
      - /statedir:/statedir


